.col img {
    aspect-ratio: 14/9;
}

.cards-container {
    margin-top: 50px;
}

.card-body h5 {
    font-size: 18px;
    font-weight: 600;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status a {
    padding: 2px 5px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
}

.pendente {
    background-color: #FFD700;
    color: #1a1a1a;
}

.recusado {
    background-color: #FF0000;
    color: white;
}

.aprovado {
    background-color: #008000;
    color: white;
}

.adm-text {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.adm-text small {
    font-size: 15px;
    font-weight: 600;
}

.adm-text span {
    color: #707070;
}

.card-buttons {
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.buttons-container button {
    width: 50%;
    border-radius: 2px;
    color: white;
    padding: 4px;
}

.aprovar {
    background-color: #3b9f3b;
}

.recusar {
    background-color: #e14343;
}