@import url(style.css);

.home-title {
    margin: 40px;
    transition: var(--tran-05);
}

.home-title h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #393939;
    margin: 0;
}

.home-title p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.atletica-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    transition: var(--tran-05);
}

.atletica-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100vw - 60%);
}

.search-bar {
    width: 100%;
}

.search-bar input {
    width: 100%;
    border-radius: 8px;
    height: 40px;
    padding-inline: 10px;
    padding-left: 45px;
    outline: none;
    color: var(--text-color);
    font-weight: 500;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.search-bar i {
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 25px;
    color: #707070;
}

.atletica-title {
    margin-top: 50px;
}

.atletica-title h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #393939;
}

.atletica-card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 15px;
    row-gap: 20px;
}

.atletica-card a {
    padding: 10px 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    border-radius: 8px;
    transition: var(--tran-05);
}

.atletica-card a:hover {
    background-color: var(--hover-btn-primary);
}

@media screen and (max-width: 1200px) {
    .home-title {
        margin: 20px;
    }

    .search-bar input {
        font-size: 13px;
    }
}