@import url(style.css);

.event-img {
    height: 200px;
}

.event-img img {
    position: absolute;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
    filter: blur(1px);
}

.event-img img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, black, #464646);
    opacity: 0.5;
    pointer-events: none;
}

.event-img-small {
    display: flex;
    justify-content: center;
}

.event-img-small img {
    position: absolute;
    top: 40px;
    width: calc(100vw - 50%);
    height: calc(350px);
    border-radius: 20px;
    object-fit: cover;
}

.event-text {
    margin-top: 200px;
    padding: 25px;
}

.event-text h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.event-name {
    display: flex;
    justify-content: center;
}

.event-name h1 {
    width: calc(100vw - 52%);
}

.atletica-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.atletica-description {
    width: calc(100vw - 50%);
}

.atletica-description h1 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
}

.atletica-description p {
    margin-bottom: 50px;
}

.tletica-carrosel {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .event-text {
        margin-top: 50px;
    }
    .event-img img {
        position: absolute;
        height: 100px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16/9;
    }

    .event-img-small img {
        top: 40px;
        height: 200px;
    }
}