:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #9800ee;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
    --tran-06: all 0.5s ease;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7d00c5;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary-color);
    --bs-btn-active-border-color: var(--primary-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary-color);
    --bs-btn-disabled-border-color: var(--primary-color);
}

.home-title h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #393939;
    margin: 0;
}

.home-title p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    text-align: center;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #555;
}

#addUserBtn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#addUserBtn:hover {
    background-color: #7d00c5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f4f4f4;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    color: #555;
}

td {
    color: #666;
}

.actions {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

button.icon-button {
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editBtn {
    background-color: var(--primary-color);
    color: #fff;
}

.editBtn:hover {
    background-color: #7d00c5;
}

.deleteBtn {
    background-color: #c9302c;
    color: #fff;
}

.deleteBtn:hover {
    background-color: #96201c;
}

@media screen and (max-width: 800px) {

    th,
    td {
        padding: 8px;
    }

    .actions {
        flex-direction: column;
        gap: 0px;
    }

    .actions button {
        margin-bottom: 5px;
    }

    #addUserBtn {
        width: 100%;
        padding: 10px;
    }
}