@import url(style.css);

body {
    overflow-x: hidden;
}

.home {
    height: 100vh;
    width: 100vw;
    margin-top: 0;
}

.sidebar {
    margin-top: 0;
    height: 100vh;
}

.sidebar.close {
    margin-top: 0;
    width: 78px;
    height: 100vh;
 }

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
  }