@import url(formularios.css);

.form-container {
    width: 40%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.radio-container {
    margin-bottom: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.custom-file-upload {
    text-align: center;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}