@import url(style.css);

.home-title h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #393939;
    margin: 0;
}

.home-title p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.login {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 10px;
}

.profile-img,
.profile-info {
    width: 50%;
    margin: 10px;
}

.profile-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.profile-img img {
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    width: 400px;
    height: 400px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    position: relative;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 4px 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.custom-file-upload:hover {
    background-color: var(--hover);
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 95%;
}

.profile-info h1 {
    position: absolute;
    top: 0;
    margin-top: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: #969696;
}

.profile-info input {
    width: 100%;
    padding: 12px 10px 12px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: #424242;
    background-color: var(--body-color);
}

.profile-info input:focus {
    outline: 0px;
}

input[type="submit"] {
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    padding: 8px 10px 8px 10px;
    transition: 0.3s all ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--hover);
}

@media screen and (max-width: 1200px) {
    input[type="submit"] {
        position: inherit;
    }

    .login-container {
        flex-direction: column;
        width: 100%;
    }

    .login {
        margin-top: 50px;
    }

    .profile-img,
    .profile-info {
        margin: 20px;
        width: 90%;
    }
    .profile-info h1 {
        position: inherit;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}